body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    background-image: url('../images/background.gif');
    background-repeat: repeat-x;
    text-align: center;
    height: 100%;
}

td {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
}

span {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.error {
    color: darkred;
}

.rich-calendar-spinner-input {
    font-size: 8px;
}

.side {
    vertical-align: top;
    width: 200px;
    padding-left: 5px;
    text-align: left;
    height: 100%;
}

.main {
    margin-right: 0px;
    vertical-align: top;
    width: 795px;
    text-align: left;
    height: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.rich-panel-header-main {
    font-size: 15px;
    height: 25px;
    vertical-align: middle;
}

.rich-panel-body { /* background-color: #ebf3fd; */

}

.label {
    width: 140px;
}

.asterisk {
    color: red;
    margin-left: 5px;
}

.gridContent {
    vertical-align: top;
}

.message {
    color: green;
}

.rich-menu-list-border {
    filter: alpha(opacity = 100);
    opacity: 1;
}

.link {
    cursor: pointer;
}

.dottedLine {
    border-bottom-style: dotted;
    border-bottom-color: #808080;
    border-bottom-width: 1px;
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    padding: 0px 0px 5px 0px;
    height: 1px;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.news {
    width: 100%;
    margin-top: 9px;
}

.footer {
    width: 100%;
    margin-top: 9px;
    text-align: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: #D3D3D3;
    padding-bottom: 3px;
    margin-bottom: 2px;
}
.protectionField {
    display: none;
}

form {
    margin: 0px;
    padding: 0px;
}

.rich-modalpanel {
    text-align: left;
}
/* Fix for old FireFoxes */
.rich-mpnl-body {
    width: 100%;
}

.tableColumn {
    font-size: 14px;
}

.menuContent {
    vertical-align: middle;
}

.menuIcon {
    margin-right: 5px;
    vertical-align: middle;
    width: 22px;
    height: 22px;
}

.languageIcon {
    margin-top: 7px;
    width: 30px;
    height: 20px;
    border-style: none;
}