td {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.error {
    color: darkred;
}

.rich-calendar-spinner-input {
    font-size: 8px;
}

.side {
    vertical-align: top;
    width: 200px;
}

.main {
    vertical-align: top;
    width: 800px;
}

.rich-panel-header-main {
    font-size: 15px;
    height: 25px;
    vertical-align: middle;
}

.rich-panel-body { /* background-color: #ebf3fd; */

}

.label {
    width: 140px;
}

.asterisk {
    color: red;
    margin-left: 5px;
}

.gridContent {
    vertical-align: top;
}

.message {
    color: green;
}

.rich-menu-list-border {
    filter: alpha(opacity = 100);
    opacity: 1;
}