<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <display-name>Tickets</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/classes/spring.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX
        </param-name>
        <param-value>.jsp</param-value>
    </context-param>
    <!--
        context-param> <param-name>javax.faces.STATE_SAVING_METHOD
        </param-name> <param-value>client</param-value> </context-param
    -->

    <context-param>
        <param-name>com.sun.faces.validateXml
        </param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>tickets</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.CONTROL_SKINNING
        </param-name>
        <param-value>enable</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.CONTROL_SKINNING_CLASSES
        </param-name>
        <param-value>enable</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.CONTROL_SKINNING_LEVEL
        </param-name>
        <param-value>extended</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.DEFAULT_EXPIRE</param-name>
        <param-value>5356800</param-value>
        <!-- 2 months -->
    </context-param>
    <context-param>
        <param-name>facelets.LIBRARIES</param-name>
        <param-value>/WEB-INF/facelets/tickets.taglib.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>facelets.SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.RESOURCE_URI_PREFIX
        </param-name>
        <param-value>rfRes</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.COMPRESS_STYLE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.ENCRYPT_RESOURCE_DATA</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.SECRET</param-name>
        <param-value>Njc1MzE0MDI=</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.ERROR_HANDLER</param-name>
        <param-value>com.tickets.utils.JSFErrorHandler</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.RENDER_VIEWSTATE_ID</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.PRETTY_HTML</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.LoadStyleStrategy</param-name>
        <param-value>ALL</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.LoadScriptStrategy</param-name>
        <param-value>ALL</param-value>
    </context-param>
    <!-- context-param>
        <param-name>org.apache.myfaces.redirectTracker.POLICY</param-name>
        <param-value>
            org.apache.myfaces.custom.redirectTracker.policy.MessagesRedirectTrackPolicy
        </param-value>
    </context-param-->

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            org.springframework.web.util.Log4jConfigListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            org.apache.myfaces.orchestra.conversation.servlet.ConversationManagerSessionListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            com.tickets.utils.StartupListener
        </listener-class>
    </listener>


    <filter>
        <filter-name>StaticResourceCacheFilter</filter-name>
        <filter-class>com.tickets.utils.StaticResourceCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StaticResourceCacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <display-name>RichFaces Filter</display-name>
        <filter-name>richfaces</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>richfaces</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Resource Servlet</servlet-name>
        <servlet-class>
            org.primefaces.ui.resource.ResourceServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.tickets.controllers.payment.PaymentServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>BoricaPaymentServlet</servlet-name>
        <servlet-class>com.tickets.controllers.payment.BoricaPaymentServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UpdatesServlet</servlet-name>
        <servlet-class>com.tickets.controllers.notifier.UpdatesServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--
        servlet> <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet
        </servlet-class> </servlet
    -->

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>Resource Servlet</servlet-name>
        <url-pattern>/primefaces_resources/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BoricaPaymentServlet</servlet-name>
        <url-pattern>/boricaPayment</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdatesServlet</servlet-name>
        <url-pattern>/updates</url-pattern>
    </servlet-mapping>

    <!--
        servlet-mapping> <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern> </servlet-mapping
    -->

    <!--
        filter> <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter
        </filter-class> <init-param> <param-name>encoding</param-name>
        <param-value>UTF-8</param-value> </init-param> <init-param>
        <param-name>forceEncoding</param-name> <param-value>true</param-value>
        </init-param> </filter> <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern> </filter-mapping
    -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>