<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:aop="http://www.springframework.org/schema/aop"
         xmlns:tx="http://www.springframework.org/schema/tx"
         xmlns:context="http://www.springframework.org/schema/context"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.tickets"/>

<!-- Hibernate SessionFactory -->

    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <!--property name="configLocation"
            value="classpath:com/tickets/model/hibernate.cfg.xml">
        </property-->
        <property name="annotatedClasses">
            <list>
                <value>com.tickets.model.Day</value>
                <value>com.tickets.model.Firm</value>
                <value>com.tickets.model.Price</value>
                <value>com.tickets.model.Route</value>
                <value>com.tickets.model.RouteDay</value>
                <value>com.tickets.model.RouteHour</value>
                <value>com.tickets.model.Run</value>
                <value>com.tickets.model.Stop</value>
                <value>com.tickets.model.Ticket</value>
                <value>com.tickets.model.User</value>
                <value>com.tickets.model.UsersHistory</value>
            </list>
        </property>

        <property name="dataSource" ref="dataSource" />
        <property name="namingStrategy" ref="namingStrategy" />
        <property name="schemaUpdate" value="true" />

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQL5InnoDBDialect
                </prop>
                <!-- TODO : set to false -->
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="namingStrategy"
        class="org.hibernate.cfg.ImprovedNamingStrategy" />

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost/tickets?characterEncoding=utf8"/>
        <property name="testConnectionOnCheckin" value="true"></property>
        <property name="testConnectionOnCheckout" value="true"></property>
        <property name="properties">
            <props>
                    <prop key="c3p0.min_size">10</prop>
                    <prop key="c3p0.max_size">100</prop>
                    <prop key="c3p0.timeout">540</prop>
                    <prop key="c3p0.acquireRetryAttempts">10</prop>
                    <prop key="c3p0.acquireIncrement">5</prop>
                    <prop key="c3p0.idleConnectionTestPeriod">540</prop>
                    <prop key="c3p0.initialPoolSize">20</prop>
                    <prop key="c3p0.maxPoolSize">100</prop>
                    <prop key="c3p0.maxIdleTime">30</prop>
                    <prop key="c3p0.maxStatements">50</prop>
                    <prop key="c3p0.minPoolSize">10</prop>
                    <prop key="user">root</prop>
                    <prop key="password"></prop>
            </props>
        </property>
    </bean>
    <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory"><ref local="sessionFactory"/></property>
    </bean>
    <bean id="dao" class="com.tickets.dao.Dao" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <aop:config>
        <aop:pointcut id="serviceMethods" expression="execution(* com.tickets.services.impl.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    
    <!-- Loading MyFaces Orchestra modules -->
    <import resource="classpath*:/META-INF/spring-orchestra-init.xml" />

    <!--
    This two bean definition below handles the creation and lookup of beans that has the conversational scopes
    as listed in the 'scopes' map. 
     -->
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
      <property name="scopes">
        <map>
          <entry key="conversation.access">
            <bean class="org.apache.myfaces.orchestra.conversation.spring.SpringConversationScope">
              <property name="timeout" value="30" />
              <!-- property name="advices">
                <list>
                  <ref bean="persistentContextConversationInterceptor"/>
                </list>
              </property-->
              <property name="lifetime" value="access" />
            </bean>
          </entry>
        </map>
      </property>
    </bean>
</beans>